:host(.container) {
  width: 100%;
  display: block;
}

.variations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.settings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width:100%;
}

.sku div {
  width:300px;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 32px;
  margin-bottom: 16px;
  position: relative;
}

.entry .label {
  width: calc(100% - 28px);
}

input[type="text"]  {
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  border: 1px solid var(--field-border-colour);
  -webkit-appearance: none;
  width: 100%;
}

select  {
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  border: 1px solid var(--field-border-colour);
  -webkit-appearance: none;
  width: 100%;
}

input[type="text"].button-options {
  padding-right: 40px;
}

input[type="number"]  {
  border-radius: 4px;
  padding: 4px;
  border: 1px solid var(--field-border-colour);
  -webkit-appearance: none;
  width: 100%;
}

button {
  border-radius: 8px;
  border: none;
  background-color: var(--blue);
  color: var(--light-text-colour);
  font-weight: 600;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: var(--green);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
}

.red {
  background-color: var(--red);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
}

h3 {
  margin-bottom: 8px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  color: var(--red);
  text-align: center;
}

.price {
  max-width: 100px;
}
.sku {
  max-width: 280px;
}
