<section (click)="setActivePane($event, 2)" [class.active]="activePane===2" id="pane2">
  <div class="status green-status"><i class="fa fa-check"></i> Complete</div>
  <div class="next" [class.active]="activePane===2">
    <button (click)="setActivePane($event, 3)">Next <i class="pad-right fa fa-chevron-circle-right"></i></button>
  </div>
  <h2>Item Specifics</h2>

  <div class="pane-content">
    <div class="settings">
      <div>
        <h4>Condition <i class="fa fa-asterisk red-asterisk"></i></h4>
        <div>
          <select>
            <option>New</option>
            <option>New - with tags</option>
            <option>New - without tags</option>
            <option>New - unused</option>
            <option>New - other</option>
            <option>Used - other</option>
            <option>Preowned</option>
            <option>Refurbished</option>
          </select>
        </div>
      </div>

      <div>
        <h4>Model</h4>
        <div>
          <input type="text"
                 [(ngModel)]="model">
        </div>
      </div>
      <div>
        <h4>Colour</h4>
        <div>
          <input type="text"
                 [(ngModel)]="colour">
        </div>
      </div>
      <div>
        <h4>Unbranded</h4>
        <app-switch [(ngModel)]="unbranded"></app-switch>
      </div>
      <div>
        <h4 *ngIf="!unbranded">Brand <i class="fa fa-asterisk red-asterisk"></i></h4>
        <div *ngIf="!unbranded">
          <input type="text"
                 [(ngModel)]="brand">
        </div>
      </div>
    </div>
    <hr>
    <div class="settings">
      <div>
        <h4>SKU</h4>
        <div>
          <input type="text" [(ngModel)]="sku" (ngModelChange)="generateBaseSkus()">
        </div>
      </div>
      <div>
        <h4>EAN</h4>
        <div>
          <input type="number" [(ngModel)]="ean" appEanValidator [maxLength]="14">
        </div>
      </div>
      <div>
        <h4>MPN</h4>
        <div>
          <input type="text" [(ngModel)]="mpn">
        </div>
      </div>
      <div></div>
      <div></div>
    </div>

  </div>


</section>

<section (click)="setActivePane($event, 3)" [class.active]="activePane===3" id="pane3">
  <div class="status green-status"><i class="fa fa-check"></i> Complete</div>
  <div class="next" [class.active]="activePane===3">
    <button (click)="setActivePane($event, 2)"><i class="pad-left fa fa-chevron-circle-left"></i> Prev</button>
    <button (click)="setActivePane($event, (variations.length > 0 ? 4: 5))">Next <i
      class="pad-right fa fa-chevron-circle-right"></i></button>
  </div>

  <h2>Variations</h2>
  <div class="pane-content">

    <div>Add your variation titles for your product. (Examples would be "Colour" or "Size")</div>
    <br>
    <div class="variations" #rootElement>
      <div *ngFor="let variation of variations">
        <div class="entry">
          <input type="text"
                 value="{{ variation.title }}"
                 (blur)="setVariation($event, variation)"
                 (keydown.enter)="setVariation($event, variation)"
                 class="button-option"
                 [class.field-error]="hasDuplicateTitles(variation.title)">
          <button (click)="removeVariation(variation)" class="red">
            <i class="fas fa-minus"></i>
          </button>
        </div>
        <br>
        <h4>{{ variation.title }} Options</h4>
        <div *ngFor="let option of variation.options; let i = index">
          <div class="entry">
            <input type="text"
                   value="{{ variation.options[i] }}"
                   (blur)="setVariationOption($event, variation, i)"
                   (keydown.enter)="setVariationOption($event, variation, i)"
                   class="button-option"
                   [class.field-error]="hasDuplicateOptions(variation, variation.options[i])">
            <button (click)="removeOption(variation, i)" class="red">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>


        <div class="entry">
          <input type="text"
                 [(ngModel)]="variation.option"
                 (keydown.enter)="addOption(variation, $event)"
                 placeholder="Add new option" class="button-option">
          <button (click)="addOption(variation)" class="green">
            <i class="fas fa-plus"></i>
          </button>
        </div>

      </div>

      <div class="entry" *ngIf="maxOptions > variations.length">
        <input type="text"
               [(ngModel)]="variationTitle"
               (keydown.enter)="addVariation($event)"
               placeholder="Add new variation"
               class="button-option">
        <button (click)="addVariation()" class="green">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div class="entry">
        <button (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</section>

<section (click)="setActivePane($event, 4)" [class.active-large]="activePane===4" *ngIf="variations.length > 0" id="pane4">
  <div class="status green-status"><i class="fa fa-check"></i> Complete</div>
  <div class="next" [class.active]="activePane===4">
    <button (click)="setActivePane($event, 3)"><i class="pad-left fa fa-chevron-circle-left"></i> Prev</button>
    <button (click)="setActivePane($event, 5)">Next <i class="pad-right fa fa-chevron-circle-right"></i></button>
  </div>
  <ng-container *ngIf="variations.length > 0">
    <h2>Product Variations Specifics</h2>
    <div class="pane-content">
      <div>Configure the base settings for your variations, these are editable once you create all your variations and
        options.
      </div>
      <div class="variation-settings">
        <div>
          <h4>Base Price</h4>
          <div>
            <input type="text"
                   [(ngModel)]="basePrice"
                   appDecimalValidator [decimalPlaces]="2">
          </div>
        </div>
        <div>
          <h4>Notation</h4>
          <div>
            <select [(ngModel)]="notation" (ngModelChange)="generateBaseSkus()">
              <option value="-">-</option>
              <option value="_">_</option>
              <option value=".">.</option>
              <option value="/">/</option>
            </select>
          </div>
        </div>
        <div>
          <h4>Characters</h4>
          <div>
            <select [(ngModel)]="characters" (ngModelChange)="generateBaseSkus()">
              <option value="9999999">All</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
        <div>
          <h4>Capitalise</h4>
          <div>
            <select [(ngModel)]="capitalise" (ngModelChange)="generateBaseSkus()">
              <option value="uppercase">Uppercase</option>
              <option value="lowercase">Lowercase</option>
              <option value="unchanged">Unchanged</option>
            </select>
          </div>
        </div>
      </div>

      <hr>

      <div>Add product variations from custom options</div>
      <br>
    </div>
    <div class="matrix-table">
      <table class="variation-table" *ngIf="tableData[0] && tableData[0].length > 0; else missingData">
        <tr>
          <td>#</td>
          <td *ngFor="let variation of variations">
            <b>{{ variation.title }}</b>
          </td>
          <td class="sku">
            <b>SKU</b>
          </td>
          <td class="ean">
            <b>EAN</b>
          </td>
          <td class="quantity">
            <b>Quantity</b>
          </td>
          <td class="price">
            <b>Price</b>
          </td>
          <td class="center status-field">
            <b>Status</b>
          </td>
        </tr>
        <tr *ngFor="let row of tableData;let i = index" [class.edited]="matrix[row]">
          <td class="center">
            <div class="entry">
              {{ i + 1 }}
            </div>
          </td>
          <td *ngFor="let option of row">
            <div class="entry">
              {{ option }}
            </div>
          </td>
          <td>
            <div class="entry">
              <input type="text"
                     [class.button-options]="matrix[row] && matrix[row].sku"
                     value="{{matrix[row] && matrix[row].sku || (sku.trim() ? sku.trim() + notation : '') + createSku(row)}}"
                     (blur)="createMatrix('sku', $event, row)"
                     [class.field-error]="matrixDuplication(matrix[row] && matrix[row].sku || sku + notation + createSku(row))">
              <button class="blue" *ngIf="matrix[row] && matrix[row].sku" (click)="resetItem('sku', row)">
                <i class="fas fa-undo"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="entry">
              <input type="text"
                     [class.button-options]="matrix[row] && matrix[row].ean"
                     value="{{matrix[row] && matrix[row].ean || ean}}"
                     (blur)="createMatrix('ean', $event, row)"
                     appEanValidator
                     [maxLength]="14">
              <button class="blue" *ngIf="matrix[row] && matrix[row].ean" (click)="resetItem('ean', row)">
                <i class="fas fa-undo"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="entry">
              <input type="number"
                     class="quantity-center"
                     [class.button-options]="matrix[row] && matrix[row].quantity"
                     value="{{matrix[row] && matrix[row].quantity || 1}}"
                     (blur)="createMatrix('quantity', $event, row)"
                     appDecimalValidator [decimalPlaces]="0">
              <button class="blue" *ngIf="matrix[row] && matrix[row].quantity" (click)="resetItem('quantity', row)">
                <i class="fas fa-undo"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="entry">
              <input type="text"
                     class="price-right"
                     [class.button-options]="matrix[row] && matrix[row].price"
                     value="{{matrix[row] && matrix[row].price || basePrice}}"
                     (blur)="createMatrix('price', $event, row)"
                     appDecimalValidator [decimalPlaces]="2">
              <button class="blue" *ngIf="matrix[row] && matrix[row].price" (click)="resetItem('price', row)">
                <i class="fas fa-undo"></i>
              </button>
            </div>
          </td>
          <td class="center">
          <span class="pill pill-red"
                *ngIf="matrixDuplication(matrix[row] && matrix[row].sku || sku + notation + createSku(row))">Error</span>
            <span class="pill pill-green"
                  *ngIf="!matrixDuplication(matrix[row] && matrix[row].sku || sku + notation + createSku(row))">OK</span>

          </td>
        </tr>
      </table>
    </div>

  </ng-container>
</section>

<section (click)="setActivePane($event, 5)" [class.active]="activePane===5"  id="pane5">
  <div *ngIf="!hasImagePaths()" class="status red-status"><i class="fa fa-warning"></i> Incomplete</div>
  <div *ngIf="hasImagePaths()" class="status green-status"><i class="fa fa-check"></i> Complete</div>
  <div class="next" [class.active]="activePane===5">
    <button (click)="setActivePane($event, (variations.length > 0 ? 4 : 3))">
      <i class="pad-left fa fa-chevron-circle-left"></i> Prev
    </button>
    <button (click)="setActivePane($event, 6)">Next <i class="pad-right fa fa-chevron-circle-right"></i></button>
  </div>
  <h2>Images &amp; Video ({{ countImages()}}/16)</h2>
  <div class="pane-content">

    <div class="images-container">
      <app-file-manager *ngFor="let item of createArray(16); let i = index;"
                        [previewImageUrl]="imagePaths[i] || null"
                        (filename)="setFilename(i, $event)"></app-file-manager>
    </div>

  </div>
</section>

<section (click)="setActivePane($event, 6)" [class.active]="activePane===6" id="pane6">
  <div class="status red-status"><i class="fa fa-warning"></i> Incomplete</div>
  <div class="next" [class.active]="activePane===6">
    <button (click)="setActivePane($event, 5)"><i class="pad-left fa fa-chevron-circle-left"></i>
      Prev
    </button>
    <button (click)="setActivePane($event, 7)">Next <i
      class="pad-right fa fa-chevron-circle-right"></i></button>
  </div>
  <h2>Listing Specifics</h2>
  <div class="pane-content">
    To be completed
  </div>
</section>

<section (click)="setActivePane($event, 7)" [class.active]="activePane===7" id="pane7">
  <div class="status red-status"><i class="fa fa-warning"></i> Incomplete</div>
  <div class="next" [class.active]="activePane===7">
    <button (click)="setActivePane($event, 6)"><i class="pad-left fa fa-chevron-circle-left"></i> Prev</button>
  </div>
  <h2>Shipping Details</h2>
  <div class="pane-content">
    To be completed
  </div>
</section>

<button (click)="resetListing()">Reset Listing</button>
<!--<pre>{{ matrix | json}}</pre>-->
<!--<pre>{{ baseSkus | json }}</pre>-->

<ng-template #missingData>
  <div class="error">
    Missing data, please be sure to set all your options in the variations, You can not have any variation options
    empty.
  </div>
</ng-template>
