<swiper-container *ngIf="slidesPerView === 1" class="carousel--container"
                  #swiperContainer
                  keyboard-enabled="true"
                  mousewheel-enabled="true"
                  autoplay-disable-on-interaction="false"
                  ally="true"
                  pagination="true"
                  pagination-clickable="true"
                  navigation="true"
                  slides-per-view="1"
                  autoplay-delay="4000">
<ng-content></ng-content>
</swiper-container>

<ul class="carousel--pagination" aria-label="Carousel navigation controls" *ngIf="pagination">
  <ng-container *ngIf="prevButton">
    <li>
      <button
        tabindex="0"
        *ngIf="prevButton"
        [disabled]="activeSlide <= 0"
        [innerHTML]="prevButton"
        [attr.aria-label]="prevButton"
        (click)="setPreviousSlide()">
      </button>
    </li>
  </ng-container>
  <li *ngFor="let slide of slides; let currentIndex = index"
      tabindex="0"
      class="carousel--pagination--item"
      [class.carousel--pagination--item__active]="activeSlide === currentIndex"
      [attr.aria-selected]="activeSlide === currentIndex"
      [attr.aria-label]="'Goto slide ' + currentIndex + 1"
      (click)="setActiveSlide(currentIndex)"
      (keydown.enter)="setActiveSlide(currentIndex)">
    {{ currentIndex + 1 }}
  </li>
  <ng-container *ngIf="nextButton">
    <li>
      <button
        tabindex="0"
        [disabled]="activeSlide >= slides.length - 1"
        [innerHTML]="nextButton"
        [attr.aria-label]="nextButton"
        (click)="setNextSlide()">
      </button>
    </li>
  </ng-container>
</ul>
