<swiper-container class="carousel--container"
                  #swiperContainer
                  keyboard-enabled="true"
                  ally="true"
                  navigation="true"
                  space-between="16"
                  [attr.slides-per-view]="slidesPerView">
<ng-content></ng-content>
</swiper-container>

<ul class="carousel--pagination" aria-label="Carousel navigation controls" *ngIf="pagination">
  <ng-container *ngIf="prevButton">
    <li>
      <button
        tabindex="0"
        *ngIf="prevButton"
        [disabled]="activeSlide <= 0"
        [innerHTML]="prevButton"
        [attr.aria-label]="prevButton"
        (click)="setPreviousSlide()">
      </button>
    </li>
  </ng-container>

  <ng-template ngFor [ngForOf]="slides" let-i="index">
    <li
        tabindex="0"
        class="carousel--pagination--item"
        [class.carousel--pagination--item__active]="activeSlide === i"
        [attr.aria-selected]="activeSlide ===i"
        [attr.aria-label]="'Goto slide ' + i + 1"
        (click)="setActiveSlide(i)"
        (keydown.enter)="setActiveSlide(i)">
      {{ i + 1 }}
    </li>
  </ng-template>
  <ng-container *ngIf="nextButton">
    <li>
      <button
        tabindex="0"
        [disabled]="activeSlide >= slides.length - 1"
        [innerHTML]="nextButton"
        [attr.aria-label]="nextButton"
        (click)="setNextSlide()">
      </button>
    </li>
  </ng-container>
</ul>
