<app-section flexDirection="column" justifyContent="start">
  <div class="footer-links">
    <div>
      <h3>Information</h3>
      <ul>
        <li><a href="/about">About eBUYgumm</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/fees">Seller Fees</a></li>
        <li><a href="/prohibited">Prohibited Items</a></li>
        <li><a href="/terms">Terms & Conditions</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/cookies">Cookies Policy</a></li>
      </ul>
    </div>
    <div>
      <h3>Account</h3>
      <ul>
        <li><a href="/broken">Dashboard</a></li>
        <li><a href="/broken">Purchases</a></li>
        <li><a href="/broken">Sales</a></li>
      </ul>
    </div>
    <div>
      <h3>Customer Service</h3>
      <ul>
        <li><a href="/broken">Messaging</a></li>
        <li><a href="/broken">GDPR</a></li>
      </ul>
    </div>
    <div>
      <h3>Follow Us</h3>
    </div>
  </div>
  <hr>
  <div class="copyright">
    &copy; 2023 {{ companyName  }}. All rights reserved.
  </div>
</app-section>
