<app-section flexDirection="column">
  <div *ngIf="loaded; else loading">
    <h4>Http Client Request</h4>
    <div *ngFor="let listing of listings">
      <a href="/item/{{listing.listing_id}}/{{listing.listing_title | sanitiseUrl}}" [innerHTML]="listing.listing_title"></a>
    </div>
    <div *ngIf="listings.length === 0">No listings found</div>
  </div>
</app-section>

<ng-template #loading>
  <div class="loading">
    <app-loading></app-loading>
    <div>Loading</div>
  </div>
</ng-template>
