.listings {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}

.listings img {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
  object-fit: contain;
}

swiper-slide img {
  width: 100%;
}

swiper-slide {
  margin:4px 0;
}

/* product card */
.product-card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  box-shadow: #dddddd 0 0 8px;
  margin:4px;
  transition: all 0.3s;
}

.product-card:hover {
  transform: scale(1.025);
  transition: all 0.3s;
}

.product-card a {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-card a div {
  text-align: center;
  font-size: 14px;
}

.product-card img {
  width: 100%;
  aspect-ratio: 4/3;
  min-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}
