<input
  type="file"
  accept="image/jpeg,image/png,image/gif,image/bmp,image/tiff,image/x-icon,image/svg+xml,image/webp"
  (change)="uploadFile($event)"
  class="file-input"
  #fileInput
/>
<div class="container__file-manager">
  <div class="control"
       (click)="fileInput.click()"
       (dragover)="onDragOver($event)"
       (dragleave)="onDragLeave($event)"
       (drop)="onDrop($event)"></div>
  <div class="preview-image__container" *ngIf="previewImageUrl">
    <img
      *ngIf="previewImageUrl"
      [src]="'https://sirius.carlfearby.co.uk/' + previewImageUrl"
      class="preview-image"/>
  </div>
  <i *ngIf="!previewImageUrl" class="fa fa-file-image icon"></i>
  <i *ngIf="previewImageUrl" class="fa fa-times icon-remove" (click)="removeImage($event)"></i>
  <div class="progress-bar__container"
       [class.show]="uploadProgress > 0"
       [class.hide]="uploadProgress < 0"
  >
    <div class="progress-bar" [style.width.%]="uploadProgress === -1 ? 0 : uploadProgress">
    </div>
    <div class="progress-bar__text dark" [class.light]="uploadProgress >= 52 || uploadProgress === -1">
      {{ uploadProgress === -1 ? 100 : uploadProgress}}%
    </div>
  </div>

  <div class="drag-drop-area" [class.show]="isDragOver">
    Drop your image here
  </div>
</div>

