@import "modern-css-reset";
@import "@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600&display=swap');

:root {
  --black: #222222;
  --dark-blue: #192348;
  --blue: #2978b6;
  --red: #e53032;
  --orange: #f4a137;
  --green: #9fbd47;
  --white: #fff;

  --background-colour: #2978b6;
  --background-light-colour: #e1f1ff;
  --dark-background-color: #192348;
  --light-text-colour: #fff;
  --dark-text-colour: #222222;
  --light-border-colour: #fff;
  --field-border-colour: #999999;

  --search-border-colour: #999999;
  --search-border-colour-focused: #2978b6;
  --searh-hover-colour: #dddddd;

  --hightlight-row: #e4ecff;

  --blue-rule: #bcbdea;
}

body {
  font-family: Onest, sans-serif;
  color: var(--dark-text-colour);
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
}

@media (prefers-reduced-motion) {
  * {
    transition: all 0s;
  }
}
